FineArtsMuseumProject/Library
FineArtsMuseumProject/Logs
FineArtsMuseumProject/UserSettings
FineArtsMuseumProject/Temp
*.csproj
*.cache
.svn
FineArtsMuseumProject/.idea
FineArtsMuseumProject/Assets/XR/Settings/OpenXR Package Settings.asset
FineArtsMuseumProject/obj
FineArtsMuseumProject/obj
