FineArtsMuseumProject/Library
FineArtsMuseumProject/Logs
FineArtsMuseumProject/UserSettings
FineArtsMuseumProject/Temp
*.csproj
*.cache
.svn
FineArtsMuseumProject/.idea
FineArtsMuseumProject/obj
FineArtsMuseumProject/obj
FineArtsMuseumProject/obj
FineArtsMuseumProject/Assets/Fonts/Roboto-Regular SDF.asset
*.csproj
*.sln
FineArtsMuseumProject/FineArtsMuseumProject.sln
FineArtsMuseumProject/Assets/FBX/Binh_Test
FineArtsMuseumProject/FineArtsMuseumProject.sln
FineArtsMuseumProject/Build
FineArtsMuseumProject/ProjectSettings/EditorBuildSettings.asset
FineArtsMuseumProject/Assets/Sprites/Thum_TranhXuanTrungNamBac_01.png
FineArtsMuseumProject/Assets/FBX/Binh_Test.meta
FineArtsMuseumProject/Assets/Plugins/Amazing Assets/Dynamic Radial Masks/Example Scenes/Files/URPDefaultResources/Skybox_Mat.mat
