FineArtsMuseumProject/Library
FineArtsMuseumProject/Logs
FineArtsMuseumProject/UserSettings
FineArtsMuseumProject/Temp
*.csproj
*.cache
.svn
FineArtsMuseumProject/.idea
FineArtsMuseumProject/obj
FineArtsMuseumProject/obj
FineArtsMuseumProject/obj
FineArtsMuseumProject/Assets/Fonts/Roboto-Regular SDF.asset
*.csproj
*.sln
FineArtsMuseumProject/FineArtsMuseumProject.sln
FineArtsMuseumProject/Assets/FBX/Binh_Test
FineArtsMuseumProject/FineArtsMuseumProject.sln
FineArtsMuseumProject/Build
FineArtsMuseumProject/ProjectSettings/EditorBuildSettings.asset
FineArtsMuseumProject/Assets/Sprites/Thum_TranhXuanTrungNamBac_01.png
FineArtsMuseumProject/Assets/FBX/Binh_Test.meta
FineArtsMuseumProject/Assets/Plugins/XR/XRGeneralSettingsPerBuildTarget.asset
FineArtsMuseumProject/Assets/Plugins/XRI/Settings/Resources/XRDeviceSimulatorSettings.asset
FineArtsMuseumProject/ProjectSettings/EditorBuildSettings.asset
FineArtsMuseumProject/Assets/FBX/Binh_Test.meta
FineArtsMuseumProject/ScreenshotHienVat.rar
FineArtsMuseumProject/Assets/NGAN/Texture/M_BTMT_PNGT_PXanh_TuBao_Top_BC.rar
FineArtsMuseumProject/Assets/NGAN/FBX.rar
